# Polymarket CLOB scripts env vars
# Fill these values locally. Do not commit this file.

# Required for pm_l2_key.mjs and pm_balance.mjs
PRIVATE_KEY=<YOUR_PRIVATE_KEY_HERE>

# Required for pm_balance.mjs
API_KEY=<YOUR_API_KEY_HERE_Polymarket>
SECRET=<YOUR_SECRET_HERE_Polymarket>
PASSPHRASE=<YOUR_PASSPHRASE_HERE_Polymarket>
FUNDER_ADDRESS=<YOUR_FUNDER_ADDRESS_HERE_Polymarket>
SIGNATURE_TYPE=2 
#代理设置
POLYMARKET_PROXY_URL=http://127.0.0.1:10077
POLYMARKET_REQUEST_TIMEOUT_MS=15000
